<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styling/styleriwayat.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  </head>

  <style>
    *{
      /* border: 1px solid black;  */
    }
  </style>
  <body>
    <div class="background"></div>
    <nav>
      <a href="" class="logoS">
        <img src="../img-stocks/logo.png" class="logo" />
      </a>
      <ul>
        <li><a href="#">Beranda</a></li>
        <li><a href="../templates/paketcust.html">Paket Saya</a></li>
        <li><a href="../templates/riwayat.html">Riwayat</a></li>
        <li><a href="#">Hubungi</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>

    <div class="action">
      <div class="profile" onclick="menuToggle();">
        <img src="../img-stocks/user.png" alt="">
      </div>
      <div class="menu " >
        <h3>
          Sanjuuuu
        </h3>
        <ul class="">
          <li><img src="../img-stocks/user.png" alt=""></img><a href="">Profil</a></li>
          <li><img src="../img-stocks/edit.png" alt=""></img><a href="">Edit Profil</a></li>
          <li><img src="../img-stocks/envelope.png" alt=""></img><a href="">Inbox</a></li>
          <li><img src="../img-stocks/settings.png" alt=""></img><a href="">Pengaturan</a></li>
          <li><img src="../img-stocks/log-out.png" alt=""></img><a href="../templates/login.html">Keluar</a></li>
        </ul>
      </div>
    </div>
    
    <h3 class="mt-4 text-center">Paket Selesai :D</h3>
    <ul class="list-group container-fluid mt-4 pb-4 w-75">
      
      <div class="tentang-barang mb-3">
        <li class="table-head">
            <p class="id_barang">ID Barang</p>
            <p class="tanggal_kirim">Nama Penerima</p>
            <p  class="alamat">Alamat Penerima</p>
            <p class="status_barang">Status Barang</p>
        </li>
        <li class="table-isi">
            <p class="id_barang">13478923888A78</p>
            <p class="tanggal_kirim">24/05/23 09.35 WIB</p>
            <p class="alamat">
              Jln. Jalan Kenangan No.324 Warung Terizla Land Of Dawn
            </p>
            <p class="status_barang_ket">Sampai<i class="fa-regular fa-circle-check"></i></p>
        </li>
          
          <button type="button" class="btn util-oren" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Detail Lengkap >
          </button>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  my-custom-dialog">
              <div class="modal-content ">
                <div class="modal-header text-center d-flex justify-content-center">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Paket 13478923888A78</h1>
                  
                </div>
                <div class="modal-body">
      
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group w-50 mt-3">ID Barang :</li>
                    <li class="list-group w-75 mt-3">134789238888A78</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Nama Penerima :</li>
                    <li class="list-group w-75 mt-3">Mang Rusdi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Alamat Penerima :</li>
                    <li class="list-group w-75 mt-3">Ngawi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">No. HP Penerima :</li>
                    <li class="list-group w-75 mt-3">08133366789</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Status Barang :</li>
                    <li class="list-group w-75 mt-3">Hilang :(</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Kirim :</li>
                    <li class="list-group w-75 mt-3">23-05-2023 09.78 WIB</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Sampai :</li>
                    <li class="list-group w-75 mt-3">Nggak tau</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>                 
                </div>
              </div>
            </div>
          </div>        
      </div>
      <div class="tentang-barang mb-3">
        <li class="table-head">
            <p class="id_barang">ID Barang</p>
            <p class="tanggal_kirim">Nama Penerima</p>
            <p  class="alamat">Alamat Penerima</p>
            <p class="status_barang">Status Barang</p>
        </li>
        <li class="table-isi">
            <p class="id_barang">13478923888A78</p>
            <p class="tanggal_kirim">24/05/23 09.35 WIB</p>
            <p class="alamat">
              Jln. Jalan Kenangan No.324 Warung Terizla Land Of Dawn
            </p>
            <p class="status_barang_ket">Sampai<i class="fa-regular fa-circle-check"></i></p>
        </li>
          
          <button type="button" class="btn util-oren" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Detail Lengkap >
          </button>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  my-custom-dialog">
              <div class="modal-content ">
                <div class="modal-header text-center d-flex justify-content-center">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Paket 13478923888A78</h1>
                  
                </div>
                <div class="modal-body">
      
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group w-50 mt-3">ID Barang :</li>
                    <li class="list-group w-75 mt-3">134789238888A78</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Nama Penerima :</li>
                    <li class="list-group w-75 mt-3">Mang Rusdi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Alamat Penerima :</li>
                    <li class="list-group w-75 mt-3">Ngawi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">No. HP Penerima :</li>
                    <li class="list-group w-75 mt-3">08133366789</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Status Barang :</li>
                    <li class="list-group w-75 mt-3">Hilang :(</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Kirim :</li>
                    <li class="list-group w-75 mt-3">23-05-2023 09.78 WIB</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Sampai :</li>
                    <li class="list-group w-75 mt-3">Nggak tau</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>                 
                </div>
              </div>
            </div>
          </div>        
      </div>
      <div class="tentang-barang mb-3">
        <li class="table-head">
            <p class="id_barang">ID Barang</p>
            <p class="tanggal_kirim">Nama Penerima</p>
            <p  class="alamat">Alamat Penerima</p>
            <p class="status_barang">Status Barang</p>
        </li>
        <li class="table-isi">
            <p class="id_barang">13478923888A78</p>
            <p class="tanggal_kirim">24/05/23 09.35 WIB</p>
            <p class="alamat">
              Jln. Jalan Kenangan No.324 Warung Terizla Land Of Dawn
            </p>
            <p class="status_barang_ket">Sampai<i class="fa-regular fa-circle-check"></i></p>
        </li>
          
          <button type="button" class="btn util-oren" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Detail Lengkap >
          </button>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  my-custom-dialog">
              <div class="modal-content ">
                <div class="modal-header text-center d-flex justify-content-center">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Paket 13478923888A78</h1>
                  
                </div>
                <div class="modal-body">
      
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group w-50 mt-3">ID Barang :</li>
                    <li class="list-group w-75 mt-3">134789238888A78</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Nama Penerima :</li>
                    <li class="list-group w-75 mt-3">Mang Rusdi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Alamat Penerima :</li>
                    <li class="list-group w-75 mt-3">Ngawi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">No. HP Penerima :</li>
                    <li class="list-group w-75 mt-3">08133366789</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Status Barang :</li>
                    <li class="list-group w-75 mt-3">Hilang :(</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Kirim :</li>
                    <li class="list-group w-75 mt-3">23-05-2023 09.78 WIB</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Sampai :</li>
                    <li class="list-group w-75 mt-3">Nggak tau</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>                 
                </div>
              </div>
            </div>
          </div>        
      </div>
      <div class="tentang-barang mb-3">
        <li class="table-head">
            <p class="id_barang">ID Barang</p>
            <p class="tanggal_kirim">Nama Penerima</p>
            <p  class="alamat">Alamat Penerima</p>
            <p class="status_barang">Status Barang</p>
        </li>
        <li class="table-isi">
            <p class="id_barang">13478923888A78</p>
            <p class="tanggal_kirim">24/05/23 09.35 WIB</p>
            <p class="alamat">
              Jln. Jalan Kenangan No.324 Warung Terizla Land Of Dawn
            </p>
            <p class="status_barang_ket">Sampai<i class="fa-regular fa-circle-check"></i></p>
        </li>
          
          <button type="button" class="btn util-oren" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Detail Lengkap >
          </button>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  my-custom-dialog">
              <div class="modal-content ">
                <div class="modal-header text-center d-flex justify-content-center">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Paket 13478923888A78</h1>
                  
                </div>
                <div class="modal-body">
      
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group w-50 mt-3">ID Barang :</li>
                    <li class="list-group w-75 mt-3">134789238888A78</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Nama Penerima :</li>
                    <li class="list-group w-75 mt-3">Mang Rusdi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Alamat Penerima :</li>
                    <li class="list-group w-75 mt-3">Ngawi</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">No. HP Penerima :</li>
                    <li class="list-group w-75 mt-3">08133366789</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Status Barang :</li>
                    <li class="list-group w-75 mt-3">Hilang :(</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Kirim :</li>
                    <li class="list-group w-75 mt-3">23-05-2023 09.78 WIB</li>
                  </ul>
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group w-50 mt-3">Tanggal Sampai :</li>
                    <li class="list-group w-75 mt-3">Nggak tau</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>                 
                </div>
              </div>
            </div>
          </div>        
      </div>

    </ul>

  <script>
    const sr = ScrollReveal({
      distance: "1165px",
      duration: 1600,
      delay: 250,
      reset: true,
    });
    sr.reveal("ul.list-group", { delay: 102, origin: "left" });

    function menuToggle(){
      const toggleMenu = document.querySelector('.menu');
      toggleMenu.classList.toggle('active');
    }

    function modalToggle(){
      const section = document.querySelector("section"),
        overlay = document.querySelector(".overlay"),
        showBtn = document.querySelector(".show-modal"),
        closeBtn = document.querySelector(".close-btn");
  
      section.classList.toggle('active2')
      overlay.classList.toggle('active2')
      closeBtn.classList.toggle('active2')
    }
    </script>
</html>
