*,
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(../img-stocks/wepik-yellow-black-and-gray-geometric-background-2023051305575054I2.png) no-repeat center center/cover;
  min-height: 100vh;
}

.form-control {
  border-radius: 15px; /* Mengatur radius sudut pada input */
  border-color: rgb(90, 90, 90);
}

.form-floating label {
  border-radius: 10px; /* Mengatur radius sudut pada label */
  color: rgb(92, 68, 24);
}

section {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  justify-content: center;
}
section .logo {
  height: 100px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: row;
  background-color: white;
  padding: 2rem 20vw;
  width: 800px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.logo-img {
  animation: floating 2s ease-in-out infinite;
}

.logo-img img {
  height: 320px;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.form-login {
  border: 1px solid orange;
  border-radius: 30px;
  color: rgb(175, 114, 1);
}

.form-login input {
}
.shadow-img {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.form-login input {
  width: 300px;
}
.logo-img {
  display: flex;
}
.error {
  background: #F2DEDE;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}